.bg_b_hrz {
    background-image: url("images/icons/b_hrz.png");
    background-position: center center;
    background-size: cover;
}

.bg_b_hrz_a {
    background-image: url("images/icons/b_hrz_a.gif");
    background-position: center center;
    background-size: cover;
}

.bg_b_mav {
    background-image: url("./images/icons/b_mav.png");
    background-size: cover;
}

.bg_b_mav_a {
    background-image: url("images/icons/b_mav_a.gif");
    background-size: cover;
}

.bg_b_neo {
    background-image: url("images/icons/b_neo.png");
    background-size: cover;
}

.bg_b_neo_a {
    background-image: url("images/icons/b_neo_a.gif");
    background-size: cover;
}

.bg_b_trv {
    background-image: url("images/icons/b_trv.png");
    background-size: cover;
}

.bg_b_pho {
    background-image: url("images/icons/b_pho.png");
    background-size: cover;
}

.bg_b_pho_a {
    background-image: url("images/icons/b_pho_a.gif");
    background-size: cover;
}

.bg_b_org_a {
    background-image: url("images/icons/b_org_a_short_fast.gif");
    background-size: cover;
}

.bg_ton {
    background-image: url("images/icons/ton.png");
    background-size: cover;
}

.bg_b_tor {
    background-image: url('images/icons/b_tor.png');
    background-size: cover;
}

.bg_b_ibm {
    background-image: url('images/icons/b_ibm.png');
    background-size: cover;
}

.bg_b_dsn {
    background-image: url('images/icons/b_dsn.png');
    background-size: cover;
}

.bg_b_cmp {
    background-image: url('images/icons/b_cmp.png');
    background-size: cover;
}

.bg_b_lem {
    background-image: url('images/icons/b_lem.png');
    background-size: cover;
}

.bg_b_bmv {
    background-image: url('images/icons/b_bmv.png');
    background-size: cover;
}

.bg_b_s33 {
    background-image: url('images/icons/b_s33.png');
    background-size: cover;
}

.bg_b_nih {
    background-image: url('images/icons/b_nih.png');
    background-size: cover;
}

.bg_b_mus {
    background-image: url('images/icons/b_mus.jpg');
    background-size: cover;
}

.bg_l_apm {
    background: url('images/icons/l_ampm.jpg') no-repeat center center;
    background-size: cover;
}

.bg_l_rtv {
    background: url('images/icons/l_rtwv.jpg') no-repeat center center;
    background-size: cover;
}

.bg_l_cnavt {
    background: url('images/icons/l_cnv_2015_retrothumb.jpg') no-repeat center center;
    background-size: cover;
}

.bg_b_cof {
    background: url('images/icons/b_cof.png') no-repeat center center;
    background-size: cover;
}

.bg_b_glx {
    background: url('images/icons/b_glx.png') no-repeat center center;
    background-size: cover;
}