@import url("https://fonts.googleapis.com/css?family=Barlow");
a {
  color: #d1d1d1;
  transition: color 0.3s;
  text-decoration: none;
}

a:hover {
  color: #444444;
}

.t_name {
  text-align: left;
  font-family: "terminal grotesque open";
  letter-spacing: 1rem;
  font-size: 7rem;
  line-height: 7rem;
  color: #444444;
  padding-top: 0rem;
  padding-bottom: 3rem;
}

.t_body5, .t_body4, .t_body3, .t_body2, .t_body, .t_stitle {
  font-family: "barlow";
  letter-spacing: 0.15rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #444444;
}

.t_stitle {
  font-weight: 600;
}

.t_intro {
  font-family: "barlow";
  letter-spacing: 0.2rem;
  font-size: 2rem;
  line-height: 2rem;
  color: #444444;
  text-align: center;
  opacity: 0.85;
}

.t_body {
  font-weight: 600;
  padding-top: 0rem;
  padding-bottom: 3rem;
}

.t_body2 {
  letter-spacing: 0.06rem;
  font-weight: 400;
  text-align: left;
  max-width: 50rem;
}

.t_body3 {
  font-weight: 600;
  letter-spacing: 0.06rem;
}

.t_body4 {
  font-weight: 400;
  letter-spacing: 0.06rem;
}

.t_body5 {
  letter-spacing: 0.06rem;
  font-weight: 400;
  text-align: left;
  max-width: 50rem;
  padding-bottom: 1rem;
}

.t_right {
  text-align: right;
}

.t_center {
  text-align: center;
}

.t_lnk {
  padding-top: 0rem;
}

.t_subPageTitle {
  padding-right: 2rem;
}

.t_rpad {
  padding-right: 1rem;
}

.t_vertical {
  writing-mode: tb-rl;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(180deg);
  white-space: nowrap;
  display: block;
  bottom: 0;
  width: 20px;
  height: 20px;
}

.t_categories {
  opacity: 0.54;
}

@media screen and (max-width: 480px) {
  .t_lnk {
    padding-top: 0;
  }

  .t_categories {
    display: none;
  }
}
.i_spc {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.bg_b_hrz {
  background-image: url("images/icons/b_hrz.png");
  background-position: center center;
  background-size: cover;
}

.bg_b_hrz_a {
  background-image: url("images/icons/b_hrz_a.gif");
  background-position: center center;
  background-size: cover;
}

.bg_b_mav {
  background-image: url("./images/icons/b_mav.png");
  background-size: cover;
}

.bg_b_mav_a {
  background-image: url("images/icons/b_mav_a.gif");
  background-size: cover;
}

.bg_b_neo {
  background-image: url("images/icons/b_neo.png");
  background-size: cover;
}

.bg_b_neo_a {
  background-image: url("images/icons/b_neo_a.gif");
  background-size: cover;
}

.bg_b_trv {
  background-image: url("images/icons/b_trv.png");
  background-size: cover;
}

.bg_b_pho {
  background-image: url("images/icons/b_pho.png");
  background-size: cover;
}

.bg_b_pho_a {
  background-image: url("images/icons/b_pho_a.gif");
  background-size: cover;
}

.bg_b_org_a {
  background-image: url("images/icons/b_org_a_short_fast.gif");
  background-size: cover;
}

.bg_ton {
  background-image: url("images/icons/ton.png");
  background-size: cover;
}

.bg_b_tor {
  background-image: url("images/icons/b_tor.png");
  background-size: cover;
}

.bg_b_ibm {
  background-image: url("images/icons/b_ibm.png");
  background-size: cover;
}

.bg_b_dsn {
  background-image: url("images/icons/b_dsn.png");
  background-size: cover;
}

.bg_b_cmp {
  background-image: url("images/icons/b_cmp.png");
  background-size: cover;
}

.bg_b_lem {
  background-image: url("images/icons/b_lem.png");
  background-size: cover;
}

.bg_b_bmv {
  background-image: url("images/icons/b_bmv.png");
  background-size: cover;
}

.bg_b_s33 {
  background-image: url("images/icons/b_s33.png");
  background-size: cover;
}

.bg_b_nih {
  background-image: url("images/icons/b_nih.png");
  background-size: cover;
}

.bg_b_mus {
  background-image: url("images/icons/b_mus.jpg");
  background-size: cover;
}

.bg_l_apm {
  background: url("images/icons/l_ampm.jpg") no-repeat center center;
  background-size: cover;
}

.bg_l_rtv {
  background: url("images/icons/l_rtwv.jpg") no-repeat center center;
  background-size: cover;
}

.bg_l_cnavt {
  background: url("images/icons/l_cnv_2015_retrothumb.jpg") no-repeat center center;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.allcontent {
  position: relative;
  padding: 32px;
}

body, html {
  color: #444444;
  font-family: "Barlow", "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  transition: 0.5s all;
  background: #f6f6f6;
  scroll-behavior: smooth;
}

.s_content {
  width: 75%;
  max-width: 75%;
}

.s_header {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-bottom: 32px;
  width: calc(100% - 32px);
  margin-right: 32px;
}

.s_header_title {
  margin-right: 2rem;
  margin-left: 32px;
  padding-left: 1.5rem;
}

.s_header_subtitle {
  margin-right: 1rem;
  margin-left: 32px;
  padding-left: 1.5rem;
}

.s_header_links {
  margin-right: 1rem;
}

.s_body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 91px;
  width: calc(100% - 32px);
  padding-right: 32px;
}

.s_body_row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.s_row_title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 32px;
  margin-bottom: 32px;
}

.s_flow_container {
  width: calc(33% - 32px);
  height: 0;
}

.m_rl {
  text-align: right;
}

@media screen and (max-width: 480px) {
  .allcontent {
    padding: 16px;
  }

  .s_row {
    flex-direction: column;
  }

  .s_header {
    flex-direction: row;
  }

  .s_header_title {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .s_header_subtitle {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .s_header_links {
    display: none;
  }

  .s_row_title {
    display: none;
  }

  .s_body {
    padding-right: 0;
  }

  .s_body_row {
    flex-direction: column;
    padding-bottom: 32px;
  }

  .m_bpad {
    margin-bottom: 1rem;
    padding-right: 0;
  }

  .m_rl {
    text-align: left;
    padding-bottom: 2rem;
  }
}

/*# sourceMappingURL=App.css.map */
